@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 8px;
}

textarea:focus, input:focus{
    outline: none;
}


.input-group {
  padding: 0.5rem;
  border: 1px solid green;
  padding-left: 1rem;
  border-radius: 5px;
}

  .input-group input {
    border: 0;
  }

.search-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search-input {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-family: Roboto;
  border: none;
  border-radius: 5px;
  width: 65%;
  border: 1px solid white;
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow:scroll;
}

.submit-btn {
  flex: 1;
  margin: 1rem;
}

.top-section {
  height: 30%;
  background-image: url('./assets/hero-background-small.jpg') 50%;
}

.bottom-section {
  height: 70%;
  min-height: 70%;
}

.container {
  height: 100%;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
}

.spinner {
    border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  display: block;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.lyric {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
}

.show-lyrics-btn {
  border: 0;
  background: none;
}

@media only screen and (max-width: 600px) {
  .top-section {
    height: 20%;
  }

  .show-lyrics {
    display: none;
  }

  .lyric .lyric-detail {
    max-width: 85%;
    min-width: 85%;
    text-overflow: ellipsis;
    text-align: left;
    display: inline-block;
  }

  .lyric {
    width: 83vw;
  }

}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.lyric-break {
  display: block;
  margin: 1rem 0;
}

.artist {
  font-weight: bold;
}

.title {
  font-style: italic;
}